{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Create a Book Review</title>
    <link rel="stylesheet" href="{% static "blog-posts.css" %}">
  </head>
  <body>
    <header>
      <div>My Blog Posts</div>
      <nav>
        <a href="{% url "posts_list" %}">Back to Posts</a>
      </nav>
    </header>
    <main>
      <div class="book-review-form">
          <form method="post" class="comment-box">
              {% csrf_token %} {{ form.as_p }}
          <div>
            <button class="button-style">Submit Post</button>
          </div>
        </form>
      </div>
    </main>
    <footer>
      <div>Copyright 2022 by Cindyboop</div>
      <p>
        This site contains some posts about my shenanigans.
      </p>
    </footer>
  </body>
</html>
