{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Blog Posts</title>
    <link rel="stylesheet" href="{% static "blog-posts.css" %}">
  </head>
  <body>
    <header>
      <div>My Blog Posts</div>
      <nav>
        <a href="{% url "create_post" %}">Create a Post</a>
      </nav>
    </header>
    <main>
      {% for post in posts %}
      <div class="blog-post">
        <h2 class="no-margin">{{ post.title }}</h2>
        <p>{{ post.content }}</p>
      </div>
      {% endfor %}
    </main>
    <footer>
      <div>Copyright 2022 by Cindyboop</div>
      <p>
        This site contains some posts about my shenanigans.
      </p>
    </footer>
  </body>
</html>
