html {
  background-color: #fbe4ea;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
}

header {
  padding: 12px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 12px;
}

footer {
  background-color: #de879f91;
  margin-top: 24px;
  padding: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 12px;
  align-items: center;
}

main {
  max-width: 800px;
  margin: auto;
}

input {
  border: 1px solid darkgrey;
  border-radius: 4px;
  padding: 12px;
}

textarea {
  border: 1px solid darkgrey;
  border-radius: 4px;
  padding: 12px;
  height: 100px;
}

button {
  padding: 12px;
  font-size: 110%;
}

.blog-post {
  background-color: #ffffff85;
  padding: 24px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 12px;
  border-radius: 10px;
  border: 1px dashed #de879f91;
  margin-bottom: 12px;
}

.no-margin {
  margin: 0;
}

.book-cover {
  width: 200px;
  height: auto;
}

.book-rating {
  font-size: 125%;
}

.book-authors {
  color: dimgray;
}

.detail-page-book-review {
  background-color: white;
  padding: 24px;
}

.book-review-form {
  background-color: #ffffff85;
  border-radius: 10px;
  border: 1px dashed #de879f91;
  padding: 24px;
}

.button-style {
  font-size: 80%;
  padding: 5px;
  background-color: #fbe4ea;
  border-radius: 5px;
  border: 1px solid #de879f91;
}

.comment-box textarea,
.comment-box input {
  display: block;
  border: 1px dashed #de879f91;
}
